[submodule "burger_vitrine_server/lib/Burger"]
	path = burger_vitrine_server/lib/Burger
	url = git://github.com/mcdevs/Burger.git
[submodule "burger_vitrine_server/lib/Hamburglar"]
	path = burger_vitrine_server/lib/Hamburglar
	url = git://github.com/sadimusi/Hamburglar.git
[submodule "burger_vitrine_server/lib/BurgerVitrine"]
	path = burger_vitrine_server/lib/BurgerVitrine
	url = git://github.com/sadimusi/BurgerVitrine.git
