{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block body %}
<h2>People</h2>
<div class="entry">
    <h3>Simon Marti</h3>
    <p>
        Author of <a href="https://github.com/sadimusi/Hamburglar">Hamburglar</a>, <a href="https://github.com/sadimusi/BurgerVitrine">BurgerVitrine</a> and <a href="https://github.com/sadimusi/BurgerVitrineServer">BurgerVitrineServer</a>
    </p>
    <dl>
        <dt>GitHub</dt>
        <dd><a href="https://github.com/sadimusi">sadimusi</a></dd>
        <dt>Twitter</dt>
        <dd><a href="http://twitter.com/sadimusi">sadimusi</a></dd>
        <dt>Email</dt>
        <dd><a href="mailto:simon@ceilingcat.ch">simon@ceilingcat.ch</a></dd>
    </dl>
</div>
<div class="entry">
    <h3>Tyler Kennedy</h3>
    <p>
        Author of <a href="https://github.com/mcdevs/Burger">Burger</a> and <a href="https://github.com/TkTech/Solum">Solum</a>
    </p>
    <dl>
        <dt>GitHub</dt>
        <dd><a href="https://github.com/TkTech">TkTech</a></dd>
        <dt>Website</dt>
        <dd><a href="http://tkte.ch">tkte.ch</a></dd>
        <dt>Email</dt>
        <dd><a href="mailto:tk@tkte.ch">tk@tkte.ch</a></dd>
    </dl>
</div>
<h2>Software</h2>
<div class="entry">
    <h3>BurgerVitrineServer</h3>
    <p>
        Used to serve output from Burger, Hamburglar and BurgerVitrine.
    </p>
    <dl>
        <dt>GitHub</dt>
        <dd><a href="https://github.com/sadimusi/BurgerVitrineServer">sadimusi/BurgerVitrineServer</a></dd>
    </dl>
</div>
<div class="entry">
    <h3>BurgerVitrine</h3>
    <p>
        Used to generate HTML representation.
    </p>
    <dl>
        <dt>GitHub</dt>
        <dd><a href="https://github.com/sadimusi/BurgerVitrine">sadimusi/BurgerVitrine</a></dd>
    </dl>
</div>
<div class="entry">
    <h3>Hamburglar</h3>
    <p>
        Used to compare versions.
    </p>
    <dl>
        <dt>GitHub</dt>
        <dd><a href="https://github.com/sadimusi/Hamburglar">sadimusi/Hamburglar</a></dd>
    </dl>
</div>
<div class="entry">
    <h3>Burger</h3>
    <p>
        Used to analyze minecraft jars.
    </p>
    <dl>
        <dt>GitHub</dt>
        <dd><a href="https://github.com/mcdevs/Burger">mcdevs/Burger</a></dd>
    </dl>
</div>
<div class="entry">
    <h3>Solum</h3>
    <p>
        Simple Java inspection and disassembly library.
    </p>
    <dl>
        <dt>GitHub</dt>
        <dd><a href="https://github.com/TkTech/Solum">TkTech/Solum</a></dd>
    </dl>
</div>
<a href="https://uberspace.de" id="hosting">
    <img src="/static/uberspace.png" alt="uberspace" />
</a>
{% endblock %}
